.HeaderContainer p{
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 0;
}
.HeaderContainer{
background-color: #347883;
min-height: 4vh;
}
.SideBarContainer{
  background-color: #347883;
  width: 4vh;
  min-height: 96vh;
  float: left;
  text-align: center;
}
.ContentContainer{
  min-height: 47vh;
  min-width: 100%;
  text-align: center;
}
.ColContent:hover{
  background-color:#a6a6a6 ;
  transition: 0.5s ease;
}
.ColContent2:hover{
  background-color: #a6a6a6;
  transition: 0.5s ease;

}
.ColContent3:hover{
  background-color:#a6a6a6;
  transition: 0.5s ease;
}
.RowContent{
  padding-top: 10px;
  padding-left: 15px;
  min-height: 40vh;
}
.RowContent h4{
  padding-top: 25%;
  color: #347883;
}
.RowContent h2{
  color: #347883;
}
.textThing a:hover{
  text-decoration: none;
  color:#347883;
  background-color: transparent;
}
.textThing a{
  color: #347883;
}
#iconStyle {
    padding-left:10px;
    padding-top:12px,;
    padding-right:3px;
    color: white;
  }
#iconStyle2 {
  padding-left:15px;
  padding-top:12px;
  padding-right:3px;
  color: white;
  }
#iconStyle3{
  padding-top:5px;
  padding-bottom:12px;
  color: white;
  }

  .SideBarContainer ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .SideBarContainer ul li:hover{
  background: #5BC6D5;

  }
.SideBarContainer ul li a{
  position: relative;
  text-decoration: none;
  color: black;
}
.secondUl{
  padding:0;
  position: absolute;
  top: 39px;
  left:39px;
  width: 200px;
  display: none;
  visibility: hidden;
}
.secondUl li{
  background: #494E57;
  display: block;
  color: white;
  padding-bottom: 8px;
  text-align: left;
  padding-left: 10px;
  transition: 0.3s ease;

}
ul li:hover .secondUl{
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.secondUl li button{
  float: right;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#arrowColor{
  color: white;
}
