body {
    margin: 0;
}

.item1 {
    grid-area: header;
    border: 1px solid black;
}

.item2 {
    grid-area: menu;
    border: 1px solid black;
}

.item3 {
    grid-area: main;
    border: 1px solid black;
}

.main-child {
    border: 1px solid black;
}

.main-content {
    background-color: pink;
    display: grid;
    grid-template-columns: auto auto auto;
}

h2 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header header header header header header header' 
        'menu main main main main main main main main main main main';
}