body {
    margin: 0;
    background-color: #F8F8F8;
}

.header {
    background-color: teal;
}

.fa {
    color: #F8F8F8;
}

.left-icons {
    padding: 5px;
}

.left-icons i {
    padding-right: 10px;
}